# Framework principal
fastapi==0.95.2
uvicorn==0.22.0

# Manipulação de dados
pandas==2.0.3
numpy==1.24.3  # Dependência do pandas

# Processamento de texto/CSV
python-multipart==0.0.6
chardet==5.1.0  # Detecção de encoding

# Ferramentas de desenvolvimento 
pylint==2.17.4
autopep8==2.0.2